/* About.css */

/* ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    color: blue; /* Change the initial color to blue */
  /* }
  
  ul li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
   */ 